.App {
  position: relative;
  min-height: 100vh;
  background: #000;
}

.virtual-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.virtual-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Styles pour le smooth scroll */
html {
  overflow-x: hidden;
  height: 1000%;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
}

/* Pour désactiver le scroll sur mobile */
@media (max-width: 768px) {
  .virtual-scroll {
    touch-action: none;
  }
}


